@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="time"]::-webkit-calendar-picker-indicator {
    color-scheme: dark;
  }
}
.swiper-button-next, .swiper-button-prev {
  color: #FFFFFF !important;
}
.swiper-pagination {
  bottom: 0 !important;
}
.swiper-pagination-bullet-active {
  background: #8b5cf6 !important;
}
